

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-964 {
        padding: var(--sectionPadding);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light1.svg");
        background-size: auto;
        background-position: center;
        background-repeat: repeat;
        position: relative;
        z-index: 1;
    }

    #services-964 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #services-964 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #services-964 .cs-title,
    #services-964 .cs-text {
        max-width: 100%;
    }

    #services-964 .cs-card-group {
        margin: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 1.875rem;
    }

    #services-964 .cs-item {
        width: 100%;
        text-align: left;
        list-style: none;
        /* margin top value to match the negative margin value of the .cs-icon-wrapper */
        margin: 2.75rem 0 0 0;
        /* 24px - 64px bottom */
        /* 24px - 40px left & right */
        padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
        background-color: #f7f3ee;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    #services-964 .cs-item:hover .cs-h3 {
        color: var(--bodyTextColorGrey);
    }

    #services-964 .cs-item:hover .cs-item-text {
        color: var(--bodyTextColorGrey);
        opacity: 0.9;
    }

    #services-964 .cs-item:hover .cs-background {
        opacity: 1;
    }

    #services-964 .cs-icon-wrapper {
        width: 5.5rem;
        height: 5.5rem;
        margin: -2.75rem auto 2rem 0;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: calc(clamp(1.5rem, 4vw, 2.5rem) * -1);
    }

    #services-964 .cs-icon {
        width: 2.5rem;
        height: auto;
    }

    #services-964 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: bold;
        text-align: inherit;
        margin: 0 0 0.75rem 0;
        color: var(--headerColor);
    }

    #services-964 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        max-width: 18.75rem;
        margin: 0 0 2rem 0;
        padding: 0;
        color: var(--bodyTextColor);
    }

    #services-964 .cs-link {
        text-decoration: none;
        font-size: 0.8rem;
        line-height: 1.2em;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: var(--primary);
        position: relative;
        transition: color 0.3s;
    }

    #services-964 .cs-link:hover {
        color: #fff;
    }

    #services-964 .cs-link:before {
        /* underline */
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0rem;
        left: 0;
    }

    #services-964 .cs-background {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.3s;
    }

    #services-964 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.84;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #services-964 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }

    #services-964 .cs-waves {
        width: 100%;
        height: 13.875rem;
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    #services-964 .cs-waves img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-964 .cs-container {
        max-width: 80rem;
    }

    #services-964 .cs-card-group {
        column-gap: 1.875rem;
    }

    #services-964 .cs-item {
        grid-column: span 6;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-964 .cs-item {
        grid-column: span 4;
    }
}